{% extends 'base.html' %}
{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
	<h1>Colaboradores</h1>
{% endblock %}

{% block contenido %}
<ul class="listCons">
	{% for dato in usuarios %}
	<!--esto se usa para capitalizar el nombre (primera letra en mayúscula)-->
	<li>{{dato.username|capfirst}} - <em> {{dato.email}} </em>
		<ul>
			{% for item in recetas %}
				{% if item.usuario == dato %}
					<li class="{% cycle 'par' 'impar' %}"> {{item}} </li>
				{% endif %}
				{% empty %}
					<li>Este usuario aún no ha registrado recetas.</li>
			{% endfor %}
		</ul>
	</li>
	{% empty %}
	<li>No hay usuarios registrados, aún.</li>
	{% endfor %}
</ul>
{% endblock %}